<!DOCTYPE html><footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Productos</a></li>
                            <li><a href="">Beneficios</a></li>
                            <li><a href="">Documentos</a></li>
                            <li><a href="">Soporte</a></li>
                            <li><a href="">Terminos legales</a></li>
                            <li><a href="">Nuestro Equipo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <h5 class="text-md-right">Nuestras Redes</h5>
                    <hr>
                </div>
                <ul class="nav">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twiteer</a></li>
                    <li><a href="">Git Hub</a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contactanos</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-lg">enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
