<!DOCTYPE html>
<html>
  <head>

    <title>EasyLegal</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
      </style>

  </head>

  <body>
    <header>
      <div class="top-header">
          <div class="logo"> 
              <img src="/images/EASYLEGAL.png" alt="Logo de EasyLegal">
          </div>
          <div class="form" action="#" method="GET">
              <div class="submit"><i class="fa fa-search"></i></div>
          </div>
          <p><i class="fas fa-hand-holding-usd"></i></p>
      </div>

    </header>

    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Documentos</a></li>
      <li><a href="#">Nuestro equipo</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    
  
       <form>
         <input type="search" name="q" placeholder="Buscar">
         <input type="submit" value="Vamos!">
       </form>
<main>
      <section class="offers">
          <h3>SERVICIOS SECUNDARIOS</h3>
          <div class="products">
              <article>
                  <img src="" alt="PRODUCTO1" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <div class="box-price">
                          <p class="price">$$</p>
                          <p class="discount"></p>
                      </div>
                      <h4 class="description">SERVICIO1</h4>
                  </div>
              </article>
              <article>
                  <img src="" alt="PRODUCTO2" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <div class="box-price">
                          <p class="price">$$</p>
                          <p class="discount"></p>
                      </div>
                      <h4 class="description">SERVICIO2</h4>
                  </div>
              </article>
              <article>
                  <img src="" alt="PRODUCTO3" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <div class="box-price">
                          <p class="price"></p>
                          <p class="discount"></p>
                      </div>
                  <h4 class="description">SERVICIO3</h4>
                  </div>
              </article>
              <article>
                  <img src="" alt="PRODUCTO4" class="product_img">
                  <div class="main-article">
                      <i class="fas fa-truck"></i>
                      <div class="box-price">
                          <p class="price">$$</p>
                          <p class="discount"></p>
                      </div>
                      <h4 class="description">SERVICIO4"</h4>
                  </div>
              </article>
          </div>  
      </section>
  </main>


    <footer>
      <p>©Copyright 2000 EasyLegal. Todos los derechos reservados.</p>
    </footer>

  </body>
</html>
