<!DOCTYPE html>
<html>
  <head>

    <title>EasyLegal</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
        </style>

</head>

<body>
  <a href="https://wa.me/521123456XXXX" class="btn-wsp" target="_blank">
    <img class="whatsapp" src="/images/wsp.png" alt="">

    
    
        <article class="menutop">
            <nav class="submenu">
              <ul>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/register">registrarse</a></li>
                <li><a href="#">mis cuentas</a></li>
                <li><a href="#">mis compras</a></li>
                <li><a href="#">Contacto</a></li>
              </ul>
            </nav>    
            </article>   
    <header>
      <div class="top-header">
          <div class="logo"> 
              <img src="/images/EASYLEGAL.png" alt="Logo de EasyLegal">
          </div>
          <div class="form" action="#" method="GET">
              <div class="submit"><i class="fa fa-search"></i></div>
          </div>
          <p><i class="fas fa-hand-holding-usd"></i></p>
      </div>



    </header>
    <div class="searchBar">
        <form>
            <input type="search" name="q" placeholder="Buscar">
            <input type="submit" value="Vamos!">
        </form>
    </div>
    <article class="menus1">
    <nav class="menu">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Documentos</a></li>
        <li><a href="#">Nuestro equipo</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>    
    </article>    

<main>
  
        <form class="formL">  
            <h2 class="form-title">Inicia Sesion</h2>
            <p class="formL-p">Aun no tienes cuenta? <a href="/register" class="formL-link">Entra Aqui</a> </p>
        
         <div class="form-container">
             <div class="form-group">
                 <input type="text" id="user" class="form-input" placeholder=" " >
                 <label for="user" class="form-label">Usuario:</label>
                 <span class="form-line"></span>
             </div>
            <div class="form-group">
                <input type="password" id="password" class="form-input" placeholder=" " >
                <label for="password" class="form-label">Contraseña:</label>
                <span class="form-line"></span>
            </div>

            <input type="submit" class="form-submit" value="Entrar">
         </div>   

  </main>

  
  <footer class="footer-distributed">
 
    <div class="footer-left">
    
    <h3>EasyLegal<span>DH</span></h3>
    
    <p class="footer-links">
    <a href="#">Inicio</a>
    ·
    <a href="#">Documentos</a>
    ·
    <a href="#">Nuestro Equipo</a>
    ·
    <a href="#">Proyectos</a>
    ·
    <a href="#">Contacto</a>
    ·
    <a href="#">Ayuda</a>
    </p>
    
    <p class="footer-company-name">Easylegal/DH &copy; 2021</p>
    </div>
    
    <div class="footer-center">
    
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Registra tu marca con /Easylegal/</span> Argentina, Colombia</p>
    </div>
    
    <div>
    <i class="fa fa-phone"></i>
    <p>+54 300 567-2222
        +57 302 926 8800
    </p>
    </div>
    
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="support@company.com">Easylegal@DigitalHouse.com</a></p>
    </div>
    
    </div>
    
    <div class="footer-right">
    
    <p class="footer-company-about">
    <span>About the company</span>
    Registra tu marca con EasyLegal, la forma mas sencilla y segura para proteger tu marca &amp; #EasyLegal2021.
    </p>
    
    <div class="footer-icons">
    
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    
    </div>
        <p>©Copyright 2021 EasyLegal. Todos los derechos reservados.</p>
    </footer>
    


  </body>
</html>
