.top-header .logo {
    width: 30%;
    max-width: 350px;
    min-width: 200px;
  }
.top-header .logo img {
  width:100%;
  }
.top-header {
    display: flex;
}  


/* TOP MENU */
.submenu {
    text-align: right;

}
.submenu ul{
    list-style: none;
    padding: 0;
    margin: auto;
    display: inline-flex;
    position: relative;

}
.submenu li{
    display: block;
    padding: 10px;
}

.submenu ul li{
    text-decoration: none;
}

body{
    font-family: 'Rajdhani', sans-serif;
}

/* BANNER SLIDER */
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 700%;
    animation: cambio 60s infinite;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    10% { margin-left: 0;}
    
    20% { margin-left: -100%;}
    30% { margin-left: -100%;}

    30% { margin-left: -200%;}
    38% { margin-left: -200%;}

    42% { margin-left: -300%;}
    50% { margin-left: -300%;}
     
    58% { margin-left: -400%;}
    66% { margin-left: -400%;}

    70% { margin-left: -500%;}
    80% { margin-left: -500%;}

    88% { margin-left: -600%;}
    100% { margin-left: -600%;}
}


@media (max-width: 350px){
    .searchBar{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

}

.searchBar form{
    text-align: right;
    display: inline;
}
.menu ul {
    background-color: black;
    list-style: none;
    text-align: right;

}
.menu ul li{
    display:inline-block;
    padding: 10px;
}
.menu ul li a{
    color: #FFF;
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    transition: all 1300ms;
}
.menu ul li a:hover{
    background-color: #BD1919;
    border-radius: 10%;
}

.searchBar{
    position: relative;
    bottom: 100px;
    right: 100px;
    
}

.menu{
    position: relative;
    bottom: 100px;
    text-align: left;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;

}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color:#FFF;    
    margin: 50px 0px;
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
}

main section article:hover{
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
}

main section article img{
    width: 70%;
}

main section article i,
.discount{
    color: white;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #FFF;
    border-radius: 50%;
    
}

h3 {
  text-decoration: underline;  
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.box-price {
    display: flex;
}
.box-price .price {
    width: 30%;
}
.box-price .discount {
    width: 70%;
}
@media (min-width:50px) {
    .searchBar{
        text-align: right;

    }
}

@media (min-width: 361px){
    header nav{ 
        display: block;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
   
   
     .products article {
        width: 45%;
        align-items: center
    }

    .article {
        align-content: center;
    }


    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
    .products article {
        width: 22%;
        height: 400px;
    }
}

footer{
    position: relative;
    bottom: 0;
   }
   .footer-distributed{
    background-color: #BD1919;
    box-shadow: 0 1px 1px 0 rgba(105, 5, 5, 0.945);
    box-sizing: relative;
    width: 100%;
    text-align: left;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    
    padding: 55px 50px;
    margin-top: 80px;
   }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}

.footer-distributed .footer-left{
    width: 40%;
   }

   .footer-distributed h3{
    color:  #FFF;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    margin: 0;
   }

   .footer-distributed h3 span{
    color: black;
   }


   .footer-distributed .footer-links{
    color:  #fff;
    margin: 20px 0 12px;
    padding: 0;
   }

   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }

   .footer-distributed .footer-company-name{
    color:  #FFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
   }


   .footer-distributed .footer-center{
    width: 35%;
   }


   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #FFF;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }

   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }

   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }

   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }

   .footer-distributed .footer-center p a{
    color: black;
    text-decoration: none;;
   }

   .footer-distributed .footer-right{
    width: 20%;
   }

   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }

   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }

   .footer-distributed .footer-icons{
    margin-top: 25px;
   }

   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}

