.top-header .logo {
    width: 30%;
    max-width: 350px;
    min-width: 200px;
  }
.top-header .logo img {
  width:100%;
  }
.top-header {
    display: flex;
}  


/* TOP MENU */
.submenu {
    text-align: right;

}
.submenu ul{
    list-style: none;
    padding: 0;
    margin: auto;
    display: inline-flex;
    position: relative;

}
.submenu li{
    display: block;
    padding: 10px;
}

.submenu ul li{
    text-decoration: none;
}

body{
    font-family: 'Rajdhani', sans-serif;
    
}




/* BANNER SLIDER */
.slider {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 700%;
    animation: cambio 60s infinite;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    10% { margin-left: 0;}
    
    20% { margin-left: -100%;}
    30% { margin-left: -100%;}

    30% { margin-left: -200%;}
    38% { margin-left: -200%;}

    42% { margin-left: -300%;}
    50% { margin-left: -300%;}
     
    58% { margin-left: -400%;}
    66% { margin-left: -400%;}

    70% { margin-left: -500%;}
    80% { margin-left: -500%;}

    88% { margin-left: -600%;}
    100% { margin-left: -600%;}
}


@media (max-width: 350px){
    .searchBar{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

}

.searchBar form{
    text-align: right;
    display: inline;
}
.menu ul {
    background-color: black;
    list-style: none;
    text-align: right;

}
.menu ul li{
    display:inline-block;
    padding: 10px;
}
.menu ul li a{
    color: #FFF;
    display: block;
    padding: 10px 40px;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: #BD1919;
    border-radius: 10%;
}

.searchBar{
    position: relative;
    bottom: 150px;
    right: 80px;
}
.searchBar .carro .fa fa-shopping-cart {
    width: 100px;
}

.menu{
    position: relative;
    bottom: 100px;
    text-align: left;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;

}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color:#FFF;    
    margin: 50px 0px;
    box-shadow: 0px 0px 20px rgb(100, 100, 100);    
    align-items: center;
}

.products {

}

main section article:hover{
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
}

main section article img{
    width: 70%;
}

main section article i,
.discount{
    color: white;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #FFF;
    border-radius: 50%;
    
}

h3 {
  text-decoration: underline;  
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.box-price {
    display: flex;
}
.box-price .price {
    width: 30%;
}
.box-price .discount {
    width: 70%;
}



@media (min-width:50px) {
    .searchBar{
        text-align: right;

    }
}

@media (min-width: 361px){
    header nav{ 
        display: block;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
   
   
     .products article {
        width: 45%;
        align-items: center
    }

    .article {
        align-content: center;
    }


    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
    .products article {
        width: 22%;
        height: 400px;
    }
}
/*  /////////////////////////////FOOTER */

.pie-pagina{
    width: 100%;
    background-color: #d4cfcf;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    pad: 45px   0px ;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.pie-pagina .grupo-1 .box{
    margin-top: 60px;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color:black;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:black;
    margin-right: 10px;
    background-color: #fff;
    text-align: center;
    transition: all 300ms ease;

}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #BD1919;
}
.pie-pagina .grupo-2 {
    padding-inline-end: 15px 10px;
    text-align: center;
    color: black;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px   0px ;
    }
}
.botoncarrito{
    text-decoration: none;
    padding: 10px 15px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    background: #3866f2;
    background: -webkit-linear-gradient(to right, #BD1919, #4568DC);
    background: linear-gradient(to right,#BD1919, #4568DC);
}

/*  FORMULARIO */

.form-register{
    width: 100%;
    background-color: rgb(197, 197, 197);
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 0;
    text-align: center;
    align-items: center;
    box-shadow: 7px rgb(211, 188, 188);
}
.controls{
    width: 96%;
    padding: 5px;
    border-radius: 4px;
    margin-top: 15px;

    
}
.Nacionalidad{
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    margin-top: 15px;
    
}
.form-register .botons {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#4568DC;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #FFF;
    height: 40px;
    font-size: 16px;
    cursor:pointer;

}
/* LOGINN ///////////////////////////*/
.formL {
    background: #e4e4e4;
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    text-align: center;
}
.form-title{
    font-size: 35px;
    margin-bottom: 5px;
}

.formL-p {
    font-weight: 300;
}
.formL-link{
    font-weight: 400;
    color: black;
}
.form-container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em ;
}
.form-group{
    position: relative;
    --color: #5757577e;
}
.form-input{
    width: 100%;
    background: none;
    color:#000;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);


}
.form-input:focus + .form-input:not(:placeholder-shown){
    color: #4d4646;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #BD1919 ;
}
.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form-submit {
    background: #3866f2;
    background: -webkit-linear-gradient(to right, #BD1919, #4568DC);
    background: linear-gradient(to right,#BD1919, #4568DC);
    color: #FFF;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}
.form-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

/* /////////////////////////FIN LOGIN*/


/*    //////////////////////// WHATSAPP ICON*/
.whatsapp{
    position: fixed;
    width: 30px;
    height: 30px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.whatsapp:hover{
    text-decoration: none
    
}

/*CARRITO /////////////////////////*/
*{
    font-family: 'Rajdhani', 'sans-serif';;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container {
    width: 100%;
}
.container {
    display: block;
}

.product {
    width: 100%;
    padding: 0;
    margin-top: 25px;
}
thead {
    line-height: 2em;
    background: #3866f2;
background: -webkit-linear-gradient(to right, #BD1919, #4568DC);
background: linear-gradient(to right,#BD1919, #4568DC);
}

.product-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
    text-align: center;
}
.td-img {
    padding: 5px 5px 5px 0px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
tr img {
    text-align: block;
}
.quanty {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.fa-minus{
    color: #000000;
}
.fa-plus {
    color: #000000;;
}
.fa-trash-alt {
    cursor: pointer;
}

.bottom-options {
    display: flex;
    justify-content: space-between;
}
.keepbuying {
    padding: 10px;
}
.keepbuying a {
    background: #3866f2;
background: -webkit-linear-gradient(to right, #BD1919, #4568DC);
background: linear-gradient(to right,#BD1919, #4568DC);
    color: #eef8f7;
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
}
.empty-cart {
    padding: 10px;
}
.empty-cart a {
    background: #3866f2;
background: -webkit-linear-gradient(to right, #BD1919, #4568DC);
background: linear-gradient(to right,#BD1919, #4568DC);
    color: #f5f5f5;
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
}

.cart-resume {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.fa-tag {
    position: absolute;
    height: 3vh;
    right: 5px;
    top: 5px;
    font-size: 1rem;
    color: var(--color-white-warm);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 15px 80px 15px;
    border-bottom: 1px solid #000000;;
}

.cart-resume .finish-purchease {
    background: #3866f2;
background: -webkit-linear-gradient(to right, #BD1919, #4568DC);
background: linear-gradient(to right,#BD1919, #4568DC);
    color: #f5f5f5;
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
}


.main-container{
    background-color: var(--color-red);
    padding-bottom: 150px;
}    
@media (min-width: 50px) {
    .promo-bar {
        width: 40%;
        left: 100px;
    }
    .cart-resume .finish-purchease {
        width: 25%;
        margin-left: 25px;
    }
    .row {
        width: 40%;
        margin-left: 100px;
    }
}


@media (min-width: 100px){
    
    .container{border: 1px;
    display:block;
    width: auto;
    margin: 0 20px;
    text-align: justify;
}
    .product {
        width: auto;
            
    }
    .cart-resume {
        width: 30%;
    }
    .promo-bar {
        left: 40px;
        width: 80%;
    }
    .row {
        width: 80%;
        margin: 15px 40px 15px;
        align-items: center;
    }
    .cart-resume .finish-purchease {
        width: 75%;
    }
}

@media (min-width: 10px) {
    .main-container {
        font-size: 18px;
    }
    .td-img {
        padding: 5px;
        width: 100px;
    }
}

/* /////////////////////////CARRITO*/
