<!DOCTYPE html>
<html>

<body>
  
  <footer class="pie-pagina">
 
    <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="images/EASYLEGAL.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Easy Legal</h2>
                <p>Registra tu marca con EasyLegal, la forma mas sencilla y segura para proteger tu marca</p>
            </div>

            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="" class="fa fa-facebook"></a>
                    <a href="" class="fa fa-instagram"></a>
                    <a href="" class="fa fa-twitter"></a>
                    <a href="" class="fa fa-linkedin"></a>
                    
                </div>
            </div>
        </div>
         <div class="grupo-2">
             <small>&copy; 2021 <b>EasyLegal</b> Todos los Derechos Reservados</small>
            </div>

  </body>
  
</html>