
  <head>

    <title>EasyLegal</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="images/wsp.png">
    <link rel="stylesheet" href="images/facebook.png">
    <link rel="stylesheet" href="images/twitter.png">
    <link rel="stylesheet" href="images/linkedin.png">
    <script src="https://kit.fontawesome.com/b391389f44.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
        </style>

</head>

